.content {
  padding: 1rem 0;
  height: 100vh;
  background: whitesmoke;
  z-index: -1;
}

h2 {
  font-size: 20px;
}

.text-title {
  color: #6c63ff;
}

@media only screen and (max-width: 765px) {
  .contents {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1500px) {
  .content {
    padding: 11rem 0;
  }
}

.error {
  color: #bf1650;
}

.error::before {
  display: inline;
  content: "⚠ ";
}
