.sidebar-nav {
  display: inline;
}

.sidebar-nav > li > a,
.submenu-box ul li a {
  color: gray !important;
  text-transform: capitalize;
  font-size: 14px;
  padding: 10px 10px 10px 20px !important;
  display: block;
  font-weight: 400;
  position: relative;
  z-index: 2;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2px;
}

.submenu-box ul li a {
  padding: 4px 10px 4px 20px !important;
  color: #c1c1c1 !important;
}

.sidebar-nav > li > a:hover {
  color: #fff !important;
  background: linear-gradient(
    90deg,
    rgba(59, 125, 221, 0.1),
    rgba(59, 125, 221, 0.0875) 50%,
    transparent
  );
}

.sidebar-nav > li > a.active {
  color: #e9ecef !important;
  background: linear-gradient(
    90deg,
    rgba(59, 125, 221, 0.1),
    rgba(59, 125, 221, 0.0875) 50%,
    transparent
  );
  border-left: 4px solid #3b7ddd;
}

.sidebar-nav .has-sub > a.collapsed::after {
  transition: 0.4s ease;
}

.sidebar-nav .has-sub > a.collapsed::after {
  color: gray;
  font-size: 10px;
  content: "\f078";
}
.sidebar-nav .has-sub > a.collapsed::after {
  color: gray;
}

.sidebar-nav .has-sub > a::after {
  position: absolute;
  right: 0px;
  top: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  color: gray;
  display: block;
  content: "\f077";
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  font-size: 13px;
  line-height: 30px;
  margin-top: -15px;
}

.sidebar-nav > li > a > i {
  font-size: 18px;
  color: #b3b3b3;
  margin: 8px 0px 0px 0px;
  padding: 0px;
}

#sidebar-wrapper {
  z-index: 1000;
  height: 100%;
  width: 0px;
  left: -50px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #222e3c;
  transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  width: 8px;
  background: #222e3c;
}

#sidebar-wrapper::-webkit-scrollbar-thumb {
  background-color: #989898;
  border-radius: 10px;
}

.sidebar-brand {
  font-weight: 600;
  font-size: 1.15rem;
  padding: 1.15rem 1.5rem;
  display: block;
  color: #f8f9fa;
}
.sidebar-header {
  text-transform: capitalize;
  padding: 1.5rem 1.5rem 0.375rem !important;
  font-size: 14px;
  color: #ced4da;
}
